.appDisabled {
  filter: blur(4px);
  pointer-events: none;
}

.disconnectedFlash {
  z-index: 99999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 2em;
  padding: 1em;
  border: 5px solid #c00;
  background: #633;
  color: #fff;
}
