.table {
  margin: var(--spacing);
}

.tableData {
    max-width: 20em;
}

.tableData li {
  margin: 1px;
  border: 1px solid #333;
  border-radius: 2px;
  display: inline-block;
  width: 2em;
  text-align: right;
}
